.search {
  flex: 1;
}

.input {
  width: 300px;
  margin: 10px 150px;

  &:active {
    &::placeholder {
      color: rgb(254, 203, 64);
    }
  }

  & > * {
    text-align: center !important;
    color: #9e9e9e;
    padding: 14px;
    font-size: 18px !important;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 10px 0;
  max-height: 740px;
  overflow: auto;
  padding: 15px;
  border: 2px solid rgb(254, 203, 64);
  border-radius: 20px;
}
